
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Tangerine');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";



// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";



.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.nav-active{
    background-color: #3f51b5;
    color: #fff !important;
}

.text-button{
        background:none!important;
        border:none;
        padding:0!important;

        /*optional*/
        font-family:arial,sans-serif; /*input has OS specific font-family*/
        color:#e3342f;
        text-decoration:underline;
        cursor:pointer;
}

.signature{
    font-family: 'Tangerine', serif;
    font-size: 20px;
}

.allergies{
    color : #e3342f;
}

